
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script defer src="fontawesome-all.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#3273DC">
		<meta name="author" content="Daniel Schorin">
		{% capture description %}{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
		<meta name="description" content="{{ description }}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{%  endif %}">
		<meta property="og:url" content="{{ page.url | absolute_url }}">
		<meta property="og:description" content="{{ description }}">
		{% if page.collection == 'apps' %}
			{% for file in site.static_files %}
				{% assign path = '/assets/' | append: page.slug | append: '/icon' %}
				{% if file.path contains path %}
					<meta property="og:image" content="{{ file.path | absolute_url }}">
				{% endif %}
			{% endfor %}
		{% else %}
			<meta property="og:image" content="https://danielschorin.com/daniel-schorin.jpg">
		{% endif %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@danielschorin">
		<meta name="twitter:creator" content="@danielschorin">
		<meta name="x-build-time" content="{{ site.time | date_to_rfc822 }}">
		<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
		<!--<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/scss/font-awesome.scss">
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css">
		-->
		<link rel="alternate" type="application/rss+xml" title="Daniel Schorin's Blog" href="https://danielschorin.com/blog">
		<link rel="preload" href="{{ '/font-awesome.woff' | relative_url }}" as="font" crossorigin>
		<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="32x32">
		<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
		<script defer src="{{ '/main.js' | relative_url }}"></script>
		<!-- Google Analytics -->
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-25562592-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script defer src="https://www.google-analytics.com/analytics.js"></script>
		<!-- / Google Analytics -->
	</head>
	<body>
		<section class="hero">
			<div class="hero-head">
				<div class="container">
					<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
						<div class="navbar-left">
							{% if page.url == '/' %}
								<a id="astronaut-btn" class="navbar-item" href="https://danielschorin.com/astronaut" title="Click me!">👨🏽‍🚀</a>
							{% else %}
								<span class="navbar-item">Daniel Schorin</span>
							{% endif %}
						</div>
						<div class="navbar-right navbar-menu is-active">
							<div class="navbar-start">
								<a class="navbar-item is-tab" href="{% link index.html %}">Home</a>
							</div>
							<div class="navbar-end">
								<a class="navbar-item is-tab" href="{% link index.html %}#about">About</a>
								<a class="navbar-item is-tab" href="{% link index.html %}#projects">Projects</a>
								<span class="navbar-item">
									<a class="button" href="{% link contact.md %}">Contact</a>
								</span>
							</div>
						<div class = "navbar-brand"> 
							<button class="button navbar-burger">
								<span></span>
								<span></span>
								<span></span>
							</button>
						</div>
					</nav>
				</div>
			</div>
		</section>

		{{ content }}

	</body>
</html>